{% extends "server.html" %}
{% block title %}Home{% endblock %}
{% block content %}
   
    <form class="form-style-10" action="" method="post" name="signup">
	<h1 class="title">About E-clubs</h1>  
	<p>
    Students do not know which clubs exist exactly. Clubs can not introduce themselves to students.
	In this Project, students and clubs can communicate with each other. Students can be aware 
	of Events of the clubs. Students can register for events and they can make comment or rate 
	after they joined the events.
	</p>
	</form>
	
	
	
  
{% endblock %}