{% extends "server.html" %}
{% block title %}Clubs{% endblock %}
{% block content %}
    <h1 class="title">Club</h1>

    <table class="table">
	 <tr>
        <th>Club Id:</th>
        <td>{{ club.club_id }}</td>
      </tr>
      <tr>
        <th>Name:</th>
        <td>{{ club.name }}</td>
      </tr>
      <tr>
        <th>Founder:</th>
        <td>{{ club.founder }}</td>
      </tr>
      <tr>
        <th>Number of Member:</th>
        <td>{{ club.number_member }}</td>
      </tr>
	  </table>

    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
      </div>
    </div>
    {% endif %}
{% endblock %}