{% extends "server.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<!div class="form-style-10">
<form class="form-style-10" action="" method="post" name="signup">
	<h3 class="title has-text-grey">Sign up For Clubs</h3>
    {{ form.csrf_token }}
	
      <center>
        <button class="button-signup"><a class="button-color" href="{{ url_for('register_page') }}">Sign Up For Students</a></button>
        <button class="button-login"><a class="change-button-color" href="{{ url_for('login_page') }}">Sign Up For Clubs</a></button>
	  </center>
	
	<div class="inner-wrap">
    <div class="section">Club Name
	{{ form.name(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Club Name') }}
	</div>
	</div>
	<div>
	{% for error in form.name.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
    {% endfor %}
	</div>
	<div class="inner-wrap">
    <div class="section">Club Founder
	{{ form.founder(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Club Founder') }}
	</div>
	</div>
	<div>
	{% for error in form.founder.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
    {% endfor %}
	</div>
	<div class="inner-wrap">
    <div class="section">Number of Club Members
	{{ form.number_member(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Number of Club Members') }}
	</div>
	</div>
	<div>
	{% for error in form.number_member.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
    {% endfor %}
	</div>
	<div class="inner-wrap">
    <div class="section">Email of Club Founder
	{{ form.email(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Email of Club Founder') }}
	</div>
	</div>
	<div>
	{% for error in form.email.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
    {% endfor %}
	</div>
	<div class="inner-wrap">
	<div class="section">Password
	{{ form.password(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='Your Password') }}
	</div>
	<div>
	{% for error in form.password.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
    {% endfor %}
	</div>
	
	</div>
	
	
	<div class="inner-wrap">
    <div class="section">
	{{ form.accept_tos(required=True, autofocus=True,
                                     class='input is-large') }}
									 You agree to our Terms and Policy.
	</div>
	</div>
	<div>
	{% for error in form.accept_tos.errors %}
        <p class="help has-background-warning">
            {{ error }}
        </p>
    {% endfor %}
	</div>
	
	
   
   <div class="button-section">
	 
	<center>
	<input type="submit" name="Sign Up" value="Sign up"/>
	</center>
    
	
    </div>
</form>

{% endblock %}